.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventBtn {
  width: 20em;
  height: 20em;
  justify-content: space-between;
}
.grid > * {
  margin: 3em;
  justify-content: center;
}
#event-view {
  margin-top: 2em;
}
